# .NET Core / C# ignores
## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Entity Framework Core
#Migrations/
*.db
*.db-shm
*.db-wal

# Vue.js / Node.js ignores
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# Editor directories and files
.idea
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist
dist-ssr
coverage
*.local

# Vite
.vite/
